@import "variables.scss";
@import "mixins.scss";




.footer_warp {
  background-color: black;
}
.contacts {
  &__tittle {
    color: #fefefe;
    font-weight: 700;
    margin-bottom: 22px;
    @include FlexRow;
    padding-top: 66px;
  }
  &__text{
    color: #B9B9B9;
    line-height: 26px;
    margin-bottom: 37px;
    text-align: center;
      @media (max-width:889px) {
        font-size: 12px;
      }
  }
  &__social{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 6px;
    margin-bottom: 34px;
  }
  &__contact{
    span{
      @media (max-width:605px) {
       margin-bottom: 10px;
      }
    }
    display: flex;
    color: #B9B9B9;
    padding-bottom: 70px;
    @include FlexRow;
    @media (max-width:605px) {
      flex-direction: column;
    }
  }
}
