@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "variables.scss";
@import "mixins.scss";

.container {
  max-width: 1170px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  padding: 0px 15px 0px 15px;
}



.header__menu {
  @include FlexRow;
  gap: 68px;
  margin-top: 45px;
  margin-bottom: 50px;
  font-size: 11px;
  position: relative;
  @media (max-width:944px) {
    gap: 34px;  
  }
 
  &_item {
   
    color: $disactivecolor;
     @media (max-width:595px) {
   display: none;

  }
  
 
  }
  &_item :hover{
    color: $activecolor;
  }
  &_button{
    display: none;
    right: 0px;
    position: absolute;
    cursor: pointer;
    @media (max-width:595px) {
      display: inline-block;

     }
  }
}
 .header__img{
    @include FlexRow;
    margin-bottom: 66px;
    
    @media(max-width:1163px) {
      max-width: 100%;
      
    }


  }

.burger{
  position: absolute;
  right: 0;
  top: 20px;
  background-color: #F5F5F5;
  font-size: 11px;
 cursor: pointer  ;
  &__item{
    color: $disactivecolor;
    padding: 14px 50px 14px 14px ;
  }


}
.burger :hover{
    background-color: #d3d3d3;
    color: $activecolor;
  }