@import "variables.scss";
@import "mixins.scss";


$base-color: #4e4e4e;
.posts {
  &__tittle {
    color: $base-color;
    font-weight: 700;
    margin-bottom: 24px;
  }
  &__wrap {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: (2, 1fr);
    gap: 25px 32px;
    margin-bottom: 70px;
    @media (max-width: 954px) {
      grid-auto-flow: row;
    }
    &_item {
      img{
        @media (max-width: 483px) {
          width: 160px;
          height: 140px;
        }
      }
      
      display: flex;
      max-width: 100%;
      @media (max-width: 483px) {
        flex-direction: column;
      }


    }
  
}
}
.item__text {
  margin-left: 20px;
  @media (max-width: 483px) {
    margin-left: 0px;
  }
  &_tittle {
    color: $base-color;
    font-weight: 700;
    margin-bottom: 10px;

  }
  &_min {
    font-size: 12px;
    color: #7c7c7c;
    margin-bottom: 13px;
  }
  &_main {
    color: #5c5c5c;
    line-height: 26px;
    font-size: 14px;
    @media (max-width: 483px) {
     display: none;
    }
  }
}
.instagran_warp {
  background-color: #e6e6e6;
}

.instagram {
  &__tittle {
    padding-top: 47px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    
    &_link{
      @media (max-width: 550px) {
        display: none;
        
      }
    }
  }
  &__gallery {
    display: grid;
    grid-auto-flow: column;
    padding-bottom: 49px;
    max-width: 100vw;
    gap:10px;
    @media (max-width: 1175px) {
      justify-content: center;
      gap:8px;
    }
    &_item4 {
      @media (max-width: 1175px) {
        display: none;
      }
    }
    &_item2{
      @media (max-width: 550px) {
        display: none;
      }
    }
    &_item img {
      @media (max-width: 1175px) {
        
        max-width: 100%;
      }
    }
  }
}
